.form-signin{
	max-width:300px;
	padding:19px 28px 29px;
	border:1px solid #e5e5e5;
	border-radius:5px;
	background:#EEE;
	margin:0 auto;
}

#uploader {
	position:fixed;
	left:0;
	top:0;
	width:100%;	
}
#uploader>.well {
	margin:0 20px;
}

#image_list {
	margin-top:220px;
	padding-right: 9px
}

ul.images  { 
	list-style:none; 
	margin:0;
	padding:0;
}
ul.images  li { 
	float:left;
	width:100px;
	height:100px;
	padding:10px;
	border:1px solid #e5e5e5;
	border-radius:10px;
	margin:0 10px 10px 0;
	cursor:pointer
}
ul.images  li:hover { background:#FAFAFA; }
ul.images  li.active { background:#FFF; }
ul.images  li img { 
	max-width:100px;
	max-height:100px;
}

.image_select {
	padding-right:80px;	
	position:relative;
}
.image_select .btn{
	position:absolute;
	right:0px;
	top:25px;
}

#close_window  {
	margin-bottom:10px;
	display:block;
	width:auto;
}