{% extends "admin/base.html" %}

{% block content %}
<section class="form">

<div class="error flash">
	{{ error_flash }}
</div>

<p>
	<h2>{% block action %}Edit{% endblock %} Article</h2>
<p>

<form class="well" action="{% block action_link %}/admin/articles/edit/{{article.id}}{% endblock %}" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	<div class="field">
		<label>Title</label>
		<input class="input-block-level" type="text" name="title" value="{{article.title}}" />
	</div>
	
	<div class="field">
		<label>Private</label>
		<label>User must be logged in to view:
			<input type="checkbox" name="private" {% if article.private %}checked="checked"{% endif %} />
		</label>
	</div>
	
	<div class="field">
		<label>Parent</label>
		<select class="input-block-level" type="text" name="parent">
		<option value="0">= NO PARENT =</option>
		{% for a in articles %}
			{% if not a.id == articles.id and not a.parent.id %}
			<option value="{{a.id}}" {% if article.parent = a.id%}SELECTED="SELECTED"{% endif %}>{{a.title}}</option>
			{% endif %}
		{% endfor %}
		</select>
	</div>
	
	<div class="field">
		<label>Type</label>
		<select class="input-block-level" name="type">
			{% for type in types %}
			<option value="{{forloop.counter}}" {% if article.type == forloop.counter%}SELECTED="SELECTED"{% endif %}>{{type}}</option>
			{% endfor %}
		</select>
	</div>
	
	<div class="field">
		<label>Content</label>
		<textarea name="content" style="height:200px" class="input-block-level markdown">{{article.content}}</textarea>
		<p>This field uses MARKDOWN</p>
		<ul style="font-family:courier">
			<li>Image: ![Alt text](image url)</li>
			<li>Link: [Link](url)</li>
			<li>youtube: youtube(video id)</li>
			<li>Bold: '''your text here'''</li>
			<li>Italics: ''your text here''</li>
			<li>Table: |your|table|here|</li>
		</ul>
	</div>
	
	{% for key, field in fields.items %}
		<!-- Field name {{key}} -->
		{% if field.type == "varchar" %}
			<div class="field" id="custom_{{key}}">
				<label>{{key}}</label>
				<input class="input-block-level" type="text" name="{{key}}" value="{{field.value}}" />
			</div>
		{% endif %}
		
		{% if field.type == "number" %}
			<div class="field" id="custom_{{key}}">
				<label>{{key}}</label>
				<input class="input-block-level" type="number" name="{{key}}" value="{{field.value}}" />
			</div>
		{% endif %}
		
		{% if field.type == "text" %}
			<div class="field" id="custom_{{key}}">
				<label>{{key}}</label>
				<textarea name="{{key}}" style="height:100px" class="input-block-level">{{field.value}}</textarea>
			</div>
		{% endif %}
		
		{% if field.type == "select" %}
			<div class="field" id="custom_{{key}}">
				<label>{{key}}</label>
				<select class="input-block-level" name="{{key}}">
					{% for option in field.options %}
					<option value="{{option}}" {% if field.value == option %}SELECTED="SELECTED"{% endif %}>{{option}}</option>
					{% endfor %}
				</select>
			</div>
		{% endif %}
		
		{% if field.type == "image" and legacy_browser or field.type == "image" and image_old_upload %}
			<div class="field" id="custom_{{key}}">
				<label>{{key}}</label>
				<input type="file" name="{{key}}" />
				<div class="thumbnail">
					<img src="{{field.value}}"  alt="uploaded image" width="300px" />
				</div>
			</div>
		{% endif %}	
		
		{% if field.type == "image" and not legacy_browser and not image_old_upload %}
			<div class="field image_select" id="custom_{{key}}">
				<label>{{key}}</label>
				<input class="input-block-level" readonly="readonly" type="text" name="{{key}}" value="{{field.value}}" />
				<a class="btn">Select</a>
				<p>
					The size of this image can be adjusted with the suffix <span style="font-family:courier">"?size=&lt;SIZE_NAME&gt;"</span>
				</p>
				<ul>
				{% for key, value in sizes.items %}
					{% if value > 0 %}
						<li>{{key}}: {{value}}px width</li>
					{% else %}
						<li>{{key}}: Original size</li>
					{% endif %}
				{% endfor %}
				</ul>
			</div>
		{% endif %}	
	{% endfor %}
	
	
	
	<div class="field">
		<input type="submit" class="btn btn-primary" value="Save" />
		<a href="/admin/articles" class="btn btn-primary">Cancel</a>
	</div>
</form>
</section>
{% endblock %}

{% block js %}
<script type="text/javascript">
	var toggle_image_field = function(e) {
		var elm = $('select[name=type]')[0];
		
		{% for type in types %}
		if ( ~~elm.value == {{forloop.counter}} ) {
			{% for key, field in fields.items %}
				{% if type in field.article_type %}
			$('#custom_{{key}}').show();
				{% else %}
			$('#custom_{{key}}').hide();		
				{% endif %}
			{% endfor %}
		} 
		{% endfor %}
	};
	
	$(document).ready(toggle_image_field);
	$('select[name=type]').bind('change', toggle_image_field );
</script>
{% endblock %}