{% extends "admin/base.html" %}

{% block content %}
<section class="well">
	<p>
		<a href="/admin/articles/add" class="btn btn-primary">Add Article</a>
	</p>
	<table class="table table-striped table-bordered">
		<tbody>
			<tr>
				<th colspan="2">Title</th>
				<th>Type</th>
				<th>Created</th>
				<th>Author</th>
				<th>&nbsp;</th>
			</tr>
			{% for article in articles %}
			<tr>
				<td colspan="2">
					{{ article.id }} : 
					<a href="/admin/articles/edit/{{article.id}}">
						{% if article.title == "" %}&lt;no name&gt;{% else %}{{ article.title }}{% endif %}
					</a>
				</td>
				<td>{%for type in types%}{%if forloop.counter == article.type%}{{type}}{%endif%}{%endfor%}</td>
				<td>{{ article.created }}</td>
				<td>{{ article.user.username }}</td>
				<td><a class="delete" href="/admin/articles/delete/{{article.id}}">Delete</a></td>
			</tr>
			{% for child in article.children %}
			<tr class="child">
				<td>&gt;</td>
				<td>{{ child.id }} : <a href="/admin/articles/edit/{{child.id}}">{{ child.title }}</a></td>
				<td>{%for type in types%}{%if forloop.counter == child.type%}{{type}}{%endif%}{%endfor%}</td>
				<td>{{ child.created }}</td>
				<td>{{ article.user.username }}</td>
				<td><a class="delete" href="/admin/articles/delete/{{child.id}}">Delete</a></td>
			</tr>
			
			{% endfor %}
			{% endfor %}
		</tbody>
	</table>
	
</section>
{% endblock %}