<!<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="utf-8">
    <title>Admin | Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/admin.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="/favicon.ico">
  <style type="text/css"></style></head>

  <body>
	{% block header %}
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/admin">Welcome</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li {% if page == "home" %}class="active"{% endif %}><a href="/admin">Home</a></li>
              <li {% if page == "articles" %}class="active"{% endif %}><a href="/admin/articles">Articles</a></li>
              <li {% if page == "users" %}class="active"{% endif %}><a href="/admin/users">Users</a></li>
              <li {% if page == "config" %}class="active"{% endif %}><a href="/admin/config">Configurations</a></li>
			  <li {% if page == "help" %}class="active"{% endif %}><a href="/admin/help">Manual</a></li>
              <li><a href="/logout">Logout</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
	
	
	{% endblock %}

    <div class="container">
		{% block content %}
		{% endblock %}
    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
   	<script type="text/javascript" src="http://code.jquery.com/jquery-1.8.2.min.js"></script>	
   	<script type="text/javascript" src="/js/bootstrap.js"></script>	
   	<script type="text/javascript" src="/js/admin.js"></script>	
	{% block js %}{% endblock %}
</body></html>