{% extends "admin/base.html" %}

{% block content %}
<section class="well">
	<p>
		<a href="/admin/config/add" class="btn btn-primary">Add Configuration</a>
	</p>
	<table class="table table-striped table-bordered">
		<tbody>
			<tr>
				<th>Name</th>
				<th>Value</th>
				<th>&nbsp;</th>
			</tr>
			{% for config in configs %}
			<tr>
				<td>
					<a href="/admin/config/edit/{{config.id}}">
						{{config.name}}
					</a>
				</td>
				<td>{{config.value}}</td>
				<td>&nbsp;</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	
</section>
{% endblock %}