{% extends "admin/base.html" %} 

{% block header %}
{% endblock %}

{% block content %}
<section id="uploader">
	<div class="well">	
		<a id="close_window" class="btn btn-primary btn-large">Select Image</a>
		
		<input type="text" class="input-block-level" id="selected_image" />
		<div class="upload">
			<input type="file" name="image_file" id="file_uploader" />
		</div>
	</div>
</section>

<section id="image_list" class="well">	
	<ul class="images">
	{% for image in images %}
		<li>
			<img alt="{{image}}" src="/img/uploads/{{image}}" />
		</li>
	{% endfor %}
	</ul>
	<div class="clearfix"></div>
</section>
{% endblock %}

{% block js %}
<script type="text/javascript">
	var current_file = "";
	
	function setImageValue(val){
		$('#selected_image').val(val);
	}
	
	function close_window(){
		try{ 
			var val = $('#selected_image').val();
			if ( window.parent_select_field ){
				window.parent_select_field.value = val;
			}
			window.close();
		} catch(err){
			console.log(err);
		}
	}
	
	function applyButtons() {
		$('ul.images li').click(function(e){
			e.preventDefault();
			
			//Select image from list
			$('ul.images li').removeClass('active');
			$(this).addClass('active');
			var img = $(this).find('img').attr('src');
			
			setImageValue(img);
		} );
	}
	
	$(document).ready(function(){
		applyButtons();
		
		$('#close_window').click(function(e){
			close_window();
		} );
		
		$('#file_uploader').on("change",function(e){
			e.preventDefault();
			reader = new FileReader();
			reader.filename = $('#file_uploader')[0].files[0].name;
			reader.onload = function(e,f){
				current_file = e.target.filename;
				
				$.ajax({
					url:"/admin/upload_image",
					data:{
						name:e.target.filename,
						content:e.target.result,
						csrfmiddlewaretoken:'{{csrf_token}}'
					},
					dataType:"json",
					type:"POST",
					success:function(res){
						var list = $('ul.images')[0];
						list.innerHTML = "";
						
						for ( var i=0; i<res.images.length; i++ ){
							var temp = document.createElement('li');
							var img = document.createElement('img');
							var src = "/img/uploads/" + res.images[i];
							img.src = src;
							
							if ( res.images[i] == res.new_image ){
								temp.className = "active";
								setImageValue(src);
							}
						
							temp.appendChild( img );						
							list.appendChild( temp );
						}
						
						applyButtons();
					}
				});
			};
			reader.readAsDataURL( $('#file_uploader')[0].files[0] );
		} );
	});
</script>
{% endblock %}