{% extends "admin/base.html" %} 

{% block content %}
<div class="hero-unit">
	<h1>Welcome!</h1>
    <p>You are now viewing the CMS for this website.</p>
	<p>From here you can make changes to displayed content, images, and tweets. You'll find most content in the Articles page</p>
	<p>
		<a href="/admin/articles" class="btn btn-primary btn-large">Edit Articles</a>
	</p>
</div>
{% endblock %}