{% extends "admin/base.html" %} 

{% block header %}
{% endblock %}

{% block content %}

{% if user.id %}
<div class="well">
	<h3>You do not have permission to view this page, {{ user.username }}!</h3>
    <p>This area is for admins only.</p>
	<p>Sorry for any trouble this may have caused you. Please return back to the home page and contact the staff if you have any questions.</p>
	<p>
		<a href="/" class="btn btn-primary btn-large">Home</a>
	</p>
</div>
{% else %}
<form class="form-signin" action="" method="post">
	<fieldset>
		<h2 class="form-signin-heading">Login</h2>
		{% csrf_token %}
		<div class="field">
			<label>Email</label>
			<input class="input-block-level" type="text" name="email" />
		</div>
		<div class="field">
			<label>Password</label>
			<input class="input-block-level" type="password" name="password" />
		</div>
		<div class="field">
			<input class="btn btn-primary" type="submit" name="submit" />
		</div>
	</fieldset>
</form>
{% endif %}
{% endblock %}