{% extends "admin/base.html" %}

{% block content %}
<section class="well">
	<table class="table table-striped table-bordered">
		<tbody>
			<tr>
				<th>Username</th>
				<th>Status</th>
				<th>Joined</th>
				<th>Last on</th>
			</tr>
			{% for user in users %}
			<tr>
				<td>
					<a href="/admin/users/edit/{{user.id}}">
						{{ user.username }} - ({{ user.email }})
					</a>
				</td>
				<td>
					{% if user.is_active %}
						{% if user.is_superuser %}
							Super User
						{% elif user.is_staff %}
							Staff
						{% else %}
							Member
						{% endif %}
					{% else %}
						<a class="btn" href="/admin/users/edit/{{user.id}}/">Verify</a>
					{% endif %}
				</td>
				<td>{{ user.date_joined|date:"Y-m-d @ H:i" }}</td>
				<td>{{ user.last_login|date:"Y-m-d @ H:i" }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	
</section>
{% endblock %}