{% extends "admin/base.html" %}

{% block content %}
<section class="form">

<div class="error flash">
	{{ error_flash }}
</div>

<p>
	<h2>{% block action %}Edit{% endblock %} User</h2>
<p>

<form class="well" action="{% block action_link %}/admin/users/edit/{{u.id}}{% endblock %}" method="post">
	{% csrf_token %}
	<div class="field">
		<label>Username</label>
		<input class="input-block-level" type="text" name="username" value="{{u.username}}" />
	</div>
	
	<div class="field">
		<label>Email</label>
		<input class="input-block-level" type="email" name="email" value="{{u.email}}" />
	</div>
	
	<div class="field">
		<label>Status</label>
		<select name="status">
			<option value="0">- pending -</option>
			<option value="1" {% if u.is_active %}SELECTED=SELECTED{% endif %}>Member</option>
			<option value="2" {% if u.is_staff %}SELECTED=SELECTED{% endif %}>Staff</option>
			<option value="3" {% if u.is_superuser %}SELECTED=SELECTED{% endif %}>Super User</option>
		</select>
	</div>
	
	<div class="field">
		<label>New password</label>
		<input class="input-block-level" type="password" name="password" />
		<input class="input-block-level" type="password" name="password2" placeholder="Confirm new password" />
	</div>
	<div class="field">
		<input type="submit" class="btn btn-primary" value="Save" />
		<a href="/admin/user" class="btn btn-primary">Cancel</a>
	</div>
</form>
</section>
{% endblock %}